[Unit]
Description=Run hello-spring-boot jar

[Service]
WorkingDirectory=/apps/jar
ExecStart=/usr/bin/java -Xms128m -Xmx256m -jar hello-spring-boot-0.1.0.jar --spring.config.location=file:/apps/jar/hello-spring-boot.properties
User=jarapps
Type=simple
Restart=on-failure
RestartSec=10